header {
    width: 100%;
    top: 0px;
    background-color: aliceblue;
    color:cadetblue;
    text-align: center;
    position: fixed;

  }

  .navbar {
    display: inline-block;
    color: indianred;
    text-decoration: none;
    padding: 10px;
  }

  body {
    padding-top: 100px;
  }

  .text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px auto 20px;
  }

  .image {
    height: 200px;
    display: block;
    margin: 20px auto 20px;
    border: solid 5px;
    border-color:black;
    border-radius: 3px;
  }

  #featuredimg {
    border: solid;
    border-color: cadetblue;
    border-width: 10px;
  }

  #contact {
    background-color: aliceblue;
    height: 150px;
    padding: 25px;
  }

  #contact-info {
    color:indianred;
    font-weight: bold;
  }

  #form {
    text-align: center;
    color: aliceblue;
    position: relative;
  }

  .labels {
    color: indianred;
  }

  #input {
    margin: 10px;
    color:indianred;
  }

  #footer {
    text-align: center;
  }